####################################################################################################
### Visual Studio                                                                                ###
####################################################################################################
/*.userprefs
config/.vs/*
config/bin/*
config/obj/*